<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= image_tag(@picture,size:"100x100",alt:"Profile pic",title:"Edit this Pic") %>
			
		</div>
		<div class="col-md-6">
		<strong>Name</strong>   : <%= @user.fullname %><br>
		<strong>Nick</strong>   : <%= @user.nick %><br>
		<strong>Roll</strong>   : <%= @user.username %><br>
		<strong>Room</strong>   : <%= @user.room %><br>
		<strong>Hostel</strong> : <%= @user.hostel %><br>
		<strong>Email</strong>  : <%= @user.email %><br>
		<strong>Phone</strong>  : <%= @user.contact %><br><br>
			<%= link_to "Edit Profile",edit_user_path,class:"btn btn-primary" %><br> 
		</div>
	</div>
</div>
