<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= image_tag(@picture,size:"100x100",alt:"Profile pic",title:"Edit this Pic") %>
			
		</div>
		<div class="col-md-6">
                <table class="table">
		  <tr>
		    <td>Name</td><td><%= @user.fullname %></td>
		  </tr>
		  <tr>
                    <td>Nick</td><td><%= @user.nick %></td>
                  </tr>
		  <tr>
		    <td>Roll</td><td><%= @user.username %></td>
                  </tr>
		  <tr>
		    <td>Room</td><td><%= @user.room %></td>
                  </tr>
		  <tr>
		    <td>Hostel</td><td><%= @user.hostel %></td>
                  </tr>
		  <tr>
		    <td>Email</td><td><%= @user.email %></td>
		  </tr>
		  <tr>
		    <td>Phone</td><td><%= @user.contact %></td>
		  </tr>
	        </table>
			<%= link_to "Edit Profile",edit_user_path,class:"btn btn-primary" %><br> 
		</div>
	
	</div>
</div>
