<div class="post_div">
  <div class="post_title">
    <%= link_to post.title.capitalize, post_path(id: post.id) %>
  </div>
  <div class="post_content">
    <%= post.content %>
    <% if signed_in? && (current_user.usertype || current_user?(User.find(post.user_id)))%>
	<br>
      <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
  <span>Tags:<% @tags = Post.includes(:tags).find(post.id).tags %>
  <% @tags.each do |tag| %>
      <%= tag.name %>
  <% end %>
  </span>
<br>
  <span>
    Posted by "<%= User.find(post.user_id).fullname.capitalize %>" | <%= post.created_at %>
</span>
<div class="comment_container">
  <ul>
    <% @comments = Comment.where("post_id = ?", post.id) %>
    <% @comments.each do |comment| %>
      <%= render comment %>
  <% end %>
  </ul>

  <% if signed_in? %>
    <%= form_for(:comment, url: comments_path, method: 'post') do |f|  %>
    <%= f.text_area :content, size: "60x5" %><br>
  <%= hidden_field_tag(:post_id, "#{post.id}")%>
  <%= f.submit "Comment" %>
<% end %>

<% end %>
</div>
</div>

