<div class="post_div">
  <br>
  <div class="post_title">
    <%= link_to post.title.capitalize, post_path(id: post.id) %>
  </div>
  <br>
  <div class="post_content">
    <%= post.content %>
    <br>
  </div>
  <span>Tags:<% @tags = Post.includes(:tags).find(post.id).tags %>
  <% @tags.each do |tag| %>
      <%= tag.name %>
  <% end %>
  </span>
  <br>
  <span>
    This post is posted by "<%= User.find(post.user_id).fullname.capitalize %>" during <%= post.created_at %>
</span>
  <br>
  <ul>
    <% @comments = Comment.where("post_id = ?", post.id) %>
    <% @comments.each do |comment| %>
      <div class="comment_div">
      <li><%= comment.content %></li>
      This comment is posted by "<%= User.find(comment.user_id).fullname.capitalize %>" during <%= comment.created_at %>
    <br>
    </div>
    <br>
  <% end %>
  </ul>
  <% if signed_in? %>
    <%= form_for(:comment, url: comments_path, method: 'post') do |f|  %>
    <%= f.text_area :content, size: "60x5" %><br>
  <%= hidden_field_tag(:post_id, "#{post.id}")%>
  <%= f.submit "Comment" %>
<% end %>
<% end %>
</div>
<br>
