<%= content_for :title do %>
  Lodge a new Complaint
<% end %>

<h1 class="form_heading">Lodge a Complaint</h1></br></br>

<div class="form_container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:post, url: posts_path, method: 'post') do |f| %>

      <%= f.label :title %><br>
      <%= f.text_field :title %><br><br>

      <%= f.label :content %><br>
      <%= f.text_area :content, size: "80x12" %><br><br>

      <%= f.label :tags %><br>
      <%= f.check_box :mess %>&nbsp<%= f.label :mess %><br>
      <%= f.check_box :stufac %>&nbsp<%= f.label :stufac %><br>
      <%= f.check_box :gen %>&nbsp<%= f.label :gen %><br>
      </br>
      </br>
      </br>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
</div>

